<div style="min-height: 200px">
  <div class="p-a white lt box-shadow">
  	<div class="row">
  		<div class="col-sm-12">
  			<h4 class="m-b-0 _300">Universidades y colecciones</h4>
  			<small class="text-muted">Listado de las universidades y sus colecciones</small>
  		</div>
  	</div>
    <div ui-jp="nestable" class="dd" class="col-sm-12">
      <ol class="dd-list dd-list">
        <li class="dd-item" data-id="1">
            <div class="dd-content box"><i class="fa fa-reorder text-muted"></i> Universidad 1</div>
            <ol class="dd-list">
                <li class="dd-item" data-id="2">
                    <div class="dd-content box"><i class="fa fa-reorder text-muted"></i> Coleccion 1</div>
                    <ol class="dd-list">
                        <li class="dd-item" data-id="2">
                            <div class="dd-content box"><i class="fa fa-reorder text-muted"></i> Coleccion 1.1</div>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
      </ol>
    </div>
  </div>
</div>
