<div style="min-height: 200px">
  <div class="p-a white lt box-shadow">
  	<div class="row">
  		<div class="col-sm-12">
  			<h4 class="m-b-0 _300">Universidades y colecciones</h4>
  			<small class="text-muted">Listado de las universidades y sus colecciones</small>
  		</div>
  	</div>
    <div ui-jp="nestable" class="dd" class="col-sm-12">
      <ol class="dd-list dd-list">
        <li class="dd-item" ng-repeat="institucion in instituciones.Instituciones">
            <div class="dd-content box"><i class="fa fa-reorder text-muted"></i> {{institucion.NMBINS}}</div>
            <ol class="dd-list" ng-if="institucion.COLECCIONES.length > 0">
                <li class="dd-item" ng-repeat="coleccion in institucion.COLECCIONES">
                    <div class="dd-content box"><i class="fa fa-reorder text-muted"></i> {{coleccion.NOMCOL}}</div>
                    <ol class="dd-list" ng-if="coleccion.HIJOS.length > 0">
                        <li class="dd-item" ng-repeat="hijo in coleccion.HIJOS">
                            <div class="dd-content box"><i class="fa fa-reorder text-muted"></i> {{hijo.NOMCOL}}</div>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
      </ol>
    </div>
  </div>
</div>
