<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-12">
			<h4 class="m-b-0 _300">Bienvenido a {{app.name}}</h4>
			<small class="text-muted">Repositorio Académico del ANIEI</small>
		</div>
	</div>
</div>
<div class="padding">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="box p-a">
				<div class="pull-left m-r">
					<span class="w-48 rounded  {{app.setting.theme.accent}}">
						<i class="material-icons">&#xe151;</i>
					</span>
				</div>
				<div class="clear">
					<h4 class="m-a-0 text-lg _300"><a href>{{dash.datos.Prestamos.NumeroPrestamos}} <span class="text-sm">Prestamos</span></a></h4>
					<small class="text-muted">$400,000 total</small>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="box p-a">
				<div class="pull-left m-r">
					<span class="w-48 rounded {{app.setting.theme.primary}}">
						<i class="material-icons">&#xe54f;</i>
					</span>
				</div>
				<div class="clear">
					<h4 class="m-a-0 text-lg _300"><a href>{{dash.datos.NumeroEmpleados}} <span class="text-sm">Empleados</span></a></h4>
					<small class="text-muted">Registrados en la S.T.P.R.M 47</small>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="box p-a">
				<div class="pull-left m-r">
					<span class="w-48 rounded {{app.setting.theme.warn}}">
						<i class="material-icons">&#xe8d3;</i>
					</span>
				</div>
				<div class="clear">
					<h4 class="m-a-0 text-lg _300"><a href>{{dash.datos.Solicitudes.NumeroSolicitudes}} <span class="text-sm">Solicitudes</span></a></h4>
					<small class="text-muted">Ver solicitudes pendientes</small>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="box">
				<div class="box-header">
					<h3>Percepción de prestamos</h3>
					<small>Gráfica de las percepciones de los prestamos</small>
				</div>
				<div class="box-tool">
					<ul class="nav">
						<li class="nav-item inline">
							<a class="nav-link">
								<i class="material-icons md-18">&#xe863;</i>
							</a>
						</li>
						<li class="nav-item inline dropdown">
							<a class="nav-link" data-toggle="dropdown">
								<i class="material-icons md-18">&#xe5d4;</i>
							</a>
							<div class="dropdown-menu dropdown-menu-scale pull-right">
								<a class="dropdown-item" href>Mes</a>
								<a class="dropdown-item" href>Año</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="box-body">
					<div class="text-center m-b">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-sm white">
								<input type="radio" name="options" autocomplete="off"> Mes
							</label>
							<label class="btn btn-sm white">
								<input type="radio" name="options" autocomplete="off"> Año
							</label>
						</div>
					</div>
					<div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
						[
							{ data: {{dash.p_l_5}},
							points: { show: true, radius: 0},
							splines: { show: true, tension: 0.45, lineWidth: 2, fill: 1 }
							},
							{ data: {{dash.p_l_4}},
							points: { show: true, radius: 0},
							splines: { show: true, tension: 0.45, lineWidth: 2, fill: 1 }
							},
							{ data: {{dash.p_l_3}},
							points: { show: true, radius: 0},
							splines: { show: true, tension: 0.45, lineWidth: 2, fill: 1 }
							}
						],
							{
								colors: ['{{app.setting.color.accent}}','{{app.setting.color.primary}}','{{app.setting.color.warn}}'],
								series: { shadowSize: 3 },
								xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
								yaxis:{ show: true, font: { color: '#ccc' }},
								grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
								tooltip: true,
								tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
							}
							" style="height:188px" >
						</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
				<div class="box">
					<div class="box-header">
						<h3>Log Administrativo</h3>
						<small>Movimientos realizados por otros administradores.</small>
					</div>
					<div class="box-body">
						<div class="streamline b-l m-b m-l">
							<div class="sl-item">
								<div class="sl-left">
									<img src="assets/images/a2.jpg" class="img-circle">
								</div>
								<div class="sl-content">
									<a href class="text-info">Louis Elliott</a><span class="m-l-sm sl-date">5 min ago</span>
									<div>assign you a task <a href class="text-info">Mockup Design</a>.</div>
								</div>
							</div>
							<div class="sl-item">
								<div class="sl-left">
									<img src="assets/images/a5.jpg" class="img-circle">
								</div>
								<div class="sl-content">
									<a href class="text-info">Terry Moore</a><span class="m-l-sm sl-date">10 min ago</span>
									<div>Follow up to close deal</div>
								</div>
							</div>
							<div class="sl-item">
								<div class="sl-left">
									<img src="assets/images/a8.jpg" class="img-circle">
								</div>
								<div class="sl-content">
									<a href class="text-info">Walter Paler</a><span class="m-l-sm sl-date">1 hour ago</span>
									<div>was added to Repo</div>
								</div>
							</div>
						</div>
						<a href class="btn btn-sm white text-u-c m-y-xs">Load More</a>
					</div>
				</div>
			</div>
	</div>
</div>
