<div class="center-block w-xxl w-auto-xs p-y-md">
  <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
    <div class="m-b text-sm">
      <img class="center-block" style="max-height: 190px;" src="assets/images/logo.png"></img>
    </div>
    <h4 class="m-b-0 _300 text-center">Repositorio Académico ANIEI</h4>
    <form name="form">
      <div class="md-form-group float-label">
        <input type="text" class="md-input" required>
        <label>Usuario</label>
      </div>
      <div class="md-form-group float-label">
        <input type="password" class="md-input" required>
        <label>Contraseña</label>
      </div>
      <button type="submit" class="btn primary btn-block p-x-md" >Entrar</a>
    </form>
  </div>
</div>

<div class="p-v-lg text-center">
  <div class="m-b"><a href="forgot-password.html" class="text-primary _600">¿Olvidaste tu contraseña?</a></div>
</div>
</div>
