<div class="navbar">
  <!-- Lateral - Navegacion en mobile -->
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
      <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- / -->

    <!-- Titulo de pagina - Bind to $state's title -->
    <div class="navbar-item pull-left h5"></div>
  <a data-toggle="collapse" data-target="#navbar-1" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
    <i class="material-icons"></i>
  </a>
  <!-- nabar right -->
  <ul class="nav navbar-nav pull-right">
  <li class="nav-item">
    <a class="nav-link" href="">
    <span class="text-muted">Búsqueda avanzada</span>
    </a>
  </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="" data-toggle="dropdown">
        <i class="material-icons"></i>
      </a>
      <div class="dropdown-menu text-color w-lg animated fadeInUp pull-right">
        <!-- search form -->
        <form class="navbar-form form-inline navbar-item m-l v-m ng-pristine ng-valid ng-scope" role="search">
          <div class="form-group l-h m-a-0">
            <div class="input-group input-group-sm">
              <input class="form-control" placeholder="Buscar..." type="text">
              <span class="input-group-btn">
                <button type="submit" class="btn white b-a no-shadow"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
        <!-- / search form -->
      </div>
    </li>
    <li class="nav-item dropdown" ng-if="general.Usuario == null">
      <a class="nav-link" href="" data-toggle="dropdown">
        <span>Entrar</span>
      </a>
      <!-- dropdown -->
      <div class="dropdown-menu w-xl animated fadeInUp pull-right p-a-0 ng-scope">
        <div class="box-color m-a-0">
          <div class="box-header b-b p-y-sm">
            <strong>Entrar</strong>
          </div>
          <div class="box-body">
            <form role="form" class="ng-pristine ng-valid">
              <div class="form-group">
                <label>{{general.Tipo == 'Usuario' ? 'Correo':'Usuario'}}</label>
                <input class="form-control" ng-model="general.Sesion.Usuario" placeholder="{{general.Tipo == 'Usuario' ? 'Correo':'Usuario'}}" type="text">
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" ng-model="general.Sesion.Clave" placeholder="Introduzca contraseña" type="password">
              </div>
              <div class="m-b-md">
                <label class="radio-inline md-check">
                  <input type="radio" name="persona" value="Usuario" ng-model = "general.Tipo"> <i class="blue"></i> Usuario
                </label>
                <label class="radio-inline md-check">
                  <input type="radio" name="persona" value="Administrador" ng-model = "general.Tipo"> <i class="blue"></i> Administrador
                </label>
              </div>
              <div class="m-t m-b-xs">
                <button type="submit" class="btn btn-sm primary text-u-c p-x _600" ng-click = "general.IniciarSesion()">Entrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- / dropdown -->
    </li>
    <li class="nav-item" ng-if="general.Usuario == null">
      <a class="nav-link" href="">
        <span class="hidden-xs-down btn btn-sm rounded btn-outline b-info text-u-c _600">
          Registrarse
        </span>
        <span class="hidden-sm-up ">
          <i class="material-icons"></i>
        </span>
      </a>
    </li>
    <li class="nav-item" ng-if="general.Usuario != null">
      <a class="nav-link" href="" ng-click="general.CerrarSesion()">
        <span class="hidden-xs-down btn btn-sm rounded btn-outline b-danger text-u-c _600">
          Cerrar Sesión
        </span>
        <span class="hidden-sm-up ">
          <i class="material-icons"></i>
        </span>
      </a>
    </li>
  </ul>
  <!-- / navbar right -->
  <!-- navbar collapse -->
  <div class="collapse navbar-toggleable-sm" id="navbar-1">
    <!-- link and dropdown -->
    <ul class="nav navbar-nav nav-active-border b-info">
      <li class="nav-item">
        <a class="nav-link" ui-sref="raa.inicio">
          <span class="nav-text">Inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="raa.explorar">
          <span class="nav-text">Explorar</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="raa.acerca">
          <span class="nav-text">Acerca</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="raa.subir">
          <span class="nav-text">Subir</span>
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" ui-sref="raa.registrarins" ng-if="general.Usuario != null && general.Usuario.TipoU == 'Adm'">
          <span class="nav-text">Registrar o Modificar</span>
        </a>
      </li>
    </ul>
    <!-- / link and dropdown -->
  </div>
  <!-- / navbar collapse -->
  </div>
