<div class="navbar">
    <!-- Open side - Naviation on mobile -->
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
      <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- / -->

    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h5" ng-bind="$state.current.data.title" id="pageTitle"></div>

    <!-- nabar right -->
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item dropdown">
        <a href class="nav-link dropdown-toggle clear" data-toggle="dropdown">
          <span class="hidden-md-down nav-text m-r-sm text-right">
            <span class="block l-h-1x _500">{{general.user.Administrador}}</span>
            <small class="block l-h-1x text-muted"><i class="material-icons text-md">perm_identity</i> {{general.user.Puesto}}</small>
          </span>
          <span class="w-40 circle green avatar">
            {{general.user.Administrador | limitTo: 1}}
          </span>
        </a>
        <div ui-include="'views/bloques/dropdown.user.html'"></div>
      </li>
    </ul>
    <!-- / navbar right -->

    <!-- navbar collapse -->
    <div class="collapse navbar-toggleable-sm" id="collapse">
      <div ui-include="'views/bloques/navbar.form.right.html'"></div>
    </div>
    <!-- / navbar collapse -->
</div>
