<ul class="nav" ui-nav>
  <li class="nav-header hidden-folded">
    <small class="text-muted">Explorar</small>
  </li>
  <li>
    <a ui-sref="raa.instituciones" ui-sref-active="active">
      <span class="nav-icon">
        <i class="material-icons">account_balance</i>
      </span>
      <span class="nav-text">Instituciones</span>
    </a>
  </li>
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">insert_drive_file</i>
      </span>
      <span class="nav-text">Título</span>
    </a>
  </li>
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">recent_actors</i>
      </span>
      <span class="nav-text">Autores</span>
    </a>
  </li>
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">today</i>
      </span>
      <span class="nav-text">Fecha de Emisión</span>
    </a>
  </li>
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">timer</i>
      </span>
      <span class="nav-text">Fecha de Subida</span>
    </a>
  </li>
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">subject</i>
      </span>
      <span class="nav-text">Materias</span>
    </a>
  </li>
  <li class="nav-header hidden-folded">
    <small class="text-muted">Ayuda</small>
  </li>
  <li class="hidden-folded" ui-sref-active="active">
    <a ui-sref="app.docs">
      <span class="nav-text">Documentación</span>
    </a>
    </li>
</ul>
